.container {
    margin: auto;
    width: 800px;
    height: 100%;
}

.mat-prog {
    height: 10px;
}

.div-progress {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0
}

.filter-input {
    width: 192px;
}

.filter-select {
    width: 200px;
     margin-bottom: 4px;
}

.mat-card-header {
    margin: 20px 0;
    width: 770px;
}

.no-data {
    text-align: center;
    font-size: 20px;
    counter-reset: #363636;
    padding: 50px auto;
}

.mat-card-filter {
    margin: 5px;
    padding: 7px;
    display: inline-block
}

.filters-div {
    margin: 10px 0;
}

.ml-10p {
    margin-left: 10px;
}

.btn-remove {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    padding: 3px;
    border: none;
    font-weight: bolder;
    border-radius: 4px;
    color: #fff;
    background: rgb(240, 56, 56);
}

.btn-remove:hover {
    background: rgb(250, 140, 140);
    cursor: pointer;
}

.btn-remove:active {
    background: rgb(255, 19, 19);
}

.btn-holder {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

table {
    float: none;
    width: 100%;
}

.mr-20p {
    margin-right: 20px;
}

mat-paginator {
    margin: 10px 0;
}

.mat-add {
    background: slategrey;
    color: #fff;
}

select {
    padding: 2px;
}

select:hover {
    cursor: pointer;
}